body{

    background-color: rgb(142, 205, 224);
    margin:auto;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}
hr{
    color: black;
    border: 1px solid black;

}
header {
    border-left: 3px solid black;
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-top-left-radius: 35%;
    border-top-right-radius: 35%;
    text-align: center;
    
}
h1 {
    display: flex;
    flex-wrap: wrap;
    padding-left: 25px; 
    padding-right: 25px;
    justify-content: center;
}
.navbar{
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-evenly;
    font-weight: 700;
}
a {
    color: black;
    text-decoration: none;
}

main {
    border: 3px solid;
    text-align: center;
}
.container-1{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    gap: 5px;
    padding: 10px;
}
.name-1, .name-2, .name-3 {
    text-align: center;
}
.name-1 {
    grid-column: 2/3;
 }
.name-2 {
     grid-column: 4/5;
 }
.name-3 {
    grid-column: 6/7;
 }
.img-1 {
   grid-column: 2/3;
}
.img-2 {
    grid-column: 4/5;
}
.img-3 {
   grid-column: 6/7;
}
.cinfo { 
    list-style: none;
    padding-left: 10%;
    text-align: left;
    font-size: large;
    font-style: oblique;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}
.contact-page{
    background-color: rgb(142, 205, 224);
}

.about {
    margin: auto;
    padding: 10px;
    background-color: rgb(142, 205, 224);
    
    font-family:'Courier New', Courier, monospace ;

}
.about-heading {
    text-align: center;
    border-top-left-radius: 35%;
    border-top-right-radius: 35%;
    border: 3px solid black;
}
.container-2 {
    display: grid;
    gap: 10px;
    grid-template-columns:  2fr 3fr 3fr 1fr;
    border-right: 3px solid black;
    border-left:  3px solid black;
    border-bottom:  3px solid black;
    border-top: 2px solid black;
    justify-content: center;

}
.about-me {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border-left:3px solid black;
    border-right: 3px solid black;
    border-top: 3px solid black;
    padding-left: 5%;
    padding-right: 5%;

}
.table-img{
    grid-column: 2/3;
    padding-bottom: 5%;
    padding-top: 5% ;
}
.hike-img{
    grid-column: 3/4;
    padding-bottom: 5%;
    padding-top: 5%;

}
.projects {
    margin: auto;
    padding: 10px;
    background-color: rgb(142, 205, 224);
    font-family: 'Courier New', Courier, monospace;
}

.project-heading {
    text-align: center;
    border-top-left-radius: 35%;
    border-top-right-radius: 35%;
    border: 3px solid black;
}

.container-3 {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    border-right: 3px solid black;
    border-left:  3px solid black;
    border-bottom:  3px solid black;
    border-top: 2px solid black;
    padding: 2vw;
    padding-left: 8%;
    box-sizing: border-box;
}
.blurb {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    border-right: 3px solid black;
    border-left:  3px solid black;
    border-top:3px solid black;

}
.boat, .taj, .roof, .cave, .cliff, .eiffel {
    flex-basis: calc(45% - 1vw);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .taj-img, .roof-img, .cave-img, .cliff-img, .eiffel-img {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

h3, p {
    margin: 0;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}
h3 {
    text-decoration: underline;
}

.boat h3, .taj h3, .roof h3, .cave h3, .cliff h3, .eiffel h3, .boat p, .taj p, .roof p,.cave p, .cliff p, .eiffel p {
    margin-top: 10px;
}

.boat-img{
    width: 90%;
    max-width: 90%;
    height: 74%;
    object-fit: cover;
}
@media only screen and (max-width: 850px) {
    .container-1 {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        gap: 5px;
        padding: 10px;
        justify-content: center;
         text-align: center;
    }
    .name-1, .name-2, .name-3 {
        text-align: center;
    }
    .img-1, .img-2, .img-3 { 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        height: auto;}
    .name-1 {
        grid-row:1;
        grid-column: 2;
     }
    .name-2 {
        grid-row:3;
        grid-column: 2;
     }
    .name-3 {
        grid-row:5;
        grid-column: 2;
     }
    .img-1 {
        grid-row:2;
        grid-column: 2;
    }
    .img-2 {
        grid-row:4;
        grid-column: 2;
    }
    .img-3 {
        grid-row:6;
        grid-column: 2;
    }
  }
  @media only screen and (max-width: 550px) {
    .navbar {
        display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      justify-content: center;
    }
    .hike-img, .table-img{ 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        height: auto;}
    .container-3{
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;

    }
  }
.pdf-container {
    display: grid;
    border: 3px solid black;
}
.resume-heading {
    text-align: center;
    border-top-left-radius: 35%;
    border-top-right-radius: 35%;
    border: 3px solid black;
}
